ul{

  font-family: sans-serif;
}
h2  {
border: 5px solid dodgerblue;
/*border-style:dashed; */
padding: 10px;
margin: 20px 30px 40px 50px;
background-color: lightgrey;
 outline: 1px solid red;
  outline-offset: 15px;
   /* text-decoration: overline;   */
    text-transform: uppercase;
	 text-shadow: 3px 2px red;
	 font-weight: bold;
}
a:link {
  color: white;
  background-color: black;
  text-decoration: none;

}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
 }
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
button {

font-size: 30px;	
}